<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Rails App', root_path ,class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path ,class: "navbar-brand" %>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="badge">Logged in as <strong><%= current_user.email %></strong></div>
          </li>
          <li class="nav-item">
            <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-secondary btn-sm', remote: true, data: { 'bs-toggle' => "modal", "bs-target" => "#staticBackdrop" }%>
          </li>
          <li class="nav-item">
            <div class="badge">|</div>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete,class: 'btn btn-danger btn-sm'%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path,class: 'btn btn-secondary btn-sm'%>
          </li>
          <li class="nav-item">
            <div class="badge">|</div>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path,class: 'btn btn-success btn-sm' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>